body{
	max-width: 1200px;
	margin: auto;
	background-image: url("img/fondo1.jpg");
	padding-bottom: 3rem;

}

.fila{
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	box-sizing: border-box;

}

.contenido{
	width: 50%;
	box-sizing: border-box;
	padding: 2rem;
}

.texto_imagen img{
	width: 20%;
	float: right;
}


h2{
	text-align: center;
	width: 100%;
	display: block;
	font-family: LifeCraft_Font;
}
.fila button{
	width: 46%;
	text-align: center;
}

#contacto{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	margin: 1rem;
}

#contacto img{
	width: 50%;
	display: block;
	
}

#labels{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.info{
	box-sizing: border-box;
	padding-bottom: 1rem;
}
form{
	box-sizing: border-box;
	padding: 1rem;
	width: 50%;
	display: block;
	padding-right: 2rem;
}

form button{
	width: 100%;
	margin-top: 1rem;
}

#tick{
	margin-top: 0.5rem;
}

textarea{
	width: 100%;
}

#grande td,th{
	width: 16.66%;
	border: solid 2px black;
	padding: 0px;
	margin: 0px;

}

#grande td:not(:first-child){
	vertical-align: top;
}

#grande td:nth-child(6+6n){
	vertical-align: center;
}

td>p{
	padding-right: 0.2rem;
	padding-left: 0.2rem;
}

#grande td>img{
	width: 100%;
	display: block;
	margin: 0px;
	min-width: 250px;
	padding: 0px;
	object-fit: cover;
}

#pequeña{
	text-align: center;
}

#grande tr>td:first-child{
	font-size: 2rem;
	color: green;
	font-family: LifeCraft_Font;
	padding-left: 1rem;
}

#grande tr>td:nth-child(n+2)>p:first-child{
	color: red;
	font-weight: bold;
	font-family: LifeCraft_Font;
}

#grande th{
	color: blue;
	font-family: LifeCraft_Font;
	font-size: 2rem;
}
p {
   font-family: 'StandardGrafRegular';
   font-weight: normal;
   font-style: normal;
}

table{
	border-collapse: collapse;
}

#grande tr>td>p:first-child{
		color: #C41F3B;
}

#pequeña{
	display: none;
}
#aparece{
	display: none;
}

#desaparecido{
	display: none;
}

/* tablet */

@media (min-width:576px) and (max-width:1199px){

}

/* móvil */

@media (max-width:575px){
	.texto_imagen img{
		width: 50%;
	}

	#contacto img{
		width: 100%;
		order: 2;
	
	}
	#contacto form{
		margin: auto;
	}
	textarea{
		column-span: 10;
	}

	#grande{
		display: none;
	}
	#pequeña{
		display: table;
	}

	#pequeña tr:nth-child(12n+1){
		color: blue;
		font-size: 2rem;
		font-weight: bold;
		font-family: LifeCraft_Font;
	}

	#pequeña th{
		font-family: LifeCraft_Font;
	}

	#pequeña .skill{
		color: darkred;
		font-family: LifeCraft_Font;
	}
	
	
	#pequeña img{
		width: 100%;
	}
	.texto_imagen{
		display: flex;
		flex-wrap: wrap;
	}
	.texto_imagen img{
		width: 100%;
	}
	.contenido{
		width: 100%;
	}
	.desaparece{
		display: none;
	}
	.aparece{
		display: block;
	}
	.fila button{
		width: 85%;
	}
	#desaparecido{
		display: block;
	}

}