
/* 
	Colores clases:  
color: #C41F3B;
color: #A330C9;
color: #FF7D0A;
color: #ABD473;
color: #69CCF0;
color: #00FF96;
color: #F58CBA;
color: #FFFFFF;
*/
#Formulario{
	display: flex;
	flex-wrap: wrap;
	padding-right: -2rem;
	width: 18%;
	padding-bottom: 1rem;

}
#cuerpo{
	padding-top: 12rem;
	cursor: url('img/cursor_wow_1.png'), auto;
	max-width: 1300px;
	margin: auto;
	/*background-image: url("img/fondo1.jpg");*/
	padding-bottom: 3rem;
	background-color: #101010;
	box-shadow: rgba(255, 255, 255, 0.8) 106px 0px 160px 0px, rgba(255, 255, 255, 0.8) -106px 0px 160px 0px;
}

nav{
	cursor: url('img/cursor_wow_1.png'), auto;
}
#menu{
	display: flex;
	width: 100%;

	justify-content: space-around;
	border-bottom: #B79F6C solid 5px;
	flex-wrap: wrap;
	background-image: url("img/slwallpaper.jpg");
	background-position: 100% 20%;
	align-items: center;
	position: fixed;
}
#social2{
	display: none;
}
#logo{
	max-width:140px;
  max-height:140px;
  min-width:140px;
  min-height:140px;
	padding-right: 0px;
	cursor: url('img/cursor_wow_2.png'), auto;

}

#logo img{
	width: 100%;
}

#enlaces{
	display: flex;
	width: 30%;
	flex-wrap: wrap;
	justify-content: space-between;
	
}
#enlaces a{
	font-size: 3rem;
	text-decoration: none;
	color: white;
	font-family: Fuente1;
	cursor: url('img/cursor_wow_2.png'), auto;
	-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
}
i{
	color: white;
	padding-left: 1rem;
	font-size: 2rem;
	cursor: url('img/cursor_wow_2.png'), auto;
	-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
}
body{
	padding: 0px;
	margin: 0px;
	background-color: #101010;
}

#menu input{
	background-color: #101010;
	border: #8b8a8b;
	color: white;
	font-family: Fuente1;
}
#menu label{
	-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
  font-size: 1.5rem;
}

body>div>h2:first-child{
	font-size: 5rem;
	padding: 0px;
	margin: 0px;
	letter-spacing: 16px;

}
p,label,h1,h2,legend{
	color: white;
}

button {
  display: inline-block;
  padding: 0.6em 1.7em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: black;
  text-align: center;
  transition: all 0.2s;
  cursor: url('img/cursor_wow_2.png'), auto;
  font-family: Fuente1;
  letter-spacing: 3px;

}


button:hover {
  color: #000000;
  background-color: #ffffff;
}

#titulo_tabla{
	font-size: 2.5em;

}


h2::first-letter{
	font-size: 1.3em;
	
}

.fila{
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	box-sizing: border-box;

}

.contenido{
	width: 50%;
	box-sizing: border-box;
	padding: 2rem;
}

.texto_imagen img{
	width: 25%;
	float: right;

}

.texto_imagen>p::first-letter{
	font-size: 2em;
}



h2{
	text-align: center;
	width: 100%;
	display: block;
	font-family: 'StandardGrafRegular';
	letter-spacing: 5px;
	font-size: 2rem;
}

label,legend{
	font-family: 'StandardGrafRegular';
	font-size: 1.2em;
}


.fila button{
	width: 46%;
	text-align: center;

}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}

#contacto{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	margin: 1rem;

}

#contacto img{
	width: 50%;
	display: block;
	
}

#labels{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.info{
	box-sizing: border-box;
	padding-bottom: 1rem;
}
form{
	box-sizing: border-box;
	padding: 1rem;
	width: 50%;
	display: block;
	padding-right: 2rem;
}

form button{
	width: 100%;
	margin-top: 1rem;
}

#tick{
	margin-top: 0.5rem;
}

textarea{
	width: 100%;
	resize: none;
}

p{
	box-sizing: border-box;
}

#grande td,th{
	width: 16.66%;
	border: 4px double #A48510;
	border-radius: 26px;
	padding: 0px;
	margin: 0px;

}

#grande td:not(:first-child){
	vertical-align: top;
}

#grande td:nth-child(6+6n){
	vertical-align: center;
	box-sizing: border-box;
}


td>p{
	padding-right: 0.2rem;
	padding-left: 0.2rem;
	width: 100%;
}

#grande td>img{
	width: 100%;
	margin: 0px;
	
	padding: 0px;

}

table{
	width: 100%;
	box-shadow: rgba(255, 255, 255, 0.8) 50px 0px 50px 0px, rgba(255, 255, 255, 0.8) -50px 0px 50px 0px;
}

#pequeña{
	text-align: center;
}

#grande tr>td:first-child{
	font-size: 2rem;
	color: green;
	padding-left: 0.3rem;
}

#grande tr>td:nth-child(n+2)>p:first-child{
	color: red;
	font-weight: bold;
}

#grande th{
	color: white;
	padding: 0.2rem;
	background: black;
	font-family: 'StandardGrafRegular';
	letter-spacing: 3px;
	font-size: 1.8rem;
}
p {
   font-family: 'StandardGrafRegular';
   font-weight: normal;
   font-style: normal;
}

table{
	border-collapse: collapse;
	table-layout: fixed;

}

#contenedor_tabla{
	width: 100%;
}

#grande tr>td:first-child{
	 text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}
#grande tr>td:first-child>p{
		color: #C41F3B;
		letter-spacing: 0rem;
		font-size: 0.8em;
}
#grande tr:nth-child(2)>td:first-child>p{
		color: #A330C9;
}

#grande tr:nth-child(3)>td:first-child>p{
		color: #FF7D0A;
}

#grande tr:nth-child(4)>td:first-child>p{
		color: #ABD473;
}

#grande tr:nth-child(5)>td:first-child>p{
		color: #69CCF0;
}

#grande tr:nth-child(6)>td:first-child>p{
		color: #00FF96;
}

#grande tr:nth-child(7)>td:first-child>p{
		color: #F58CBA;
}

#grande tr:nth-child(8)>td:first-child>p{
		color: #FFFFFF;
}

#grande tr>td:nth-child(n+2)>p:first-child{
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	text-align: center;
	letter-spacing: 0.2px;
	font-weight: 100;
	
}


#grande tr:first-child>td:nth-child(n+2)>p:first-child{
	color: #C41F3B;

}

#grande tr:nth-child(2)>td:nth-child(n+2)>p:first-child{
	color: #A330C9;
}

#grande tr:nth-child(3)>td:nth-child(n+2)>p:first-child{
	color: #FF7D0A;
}

#grande tr:nth-child(4)>td:nth-child(n+2)>p:first-child{
	color: #ABD473;
}

#grande tr:nth-child(5)>td:nth-child(n+2)>p:first-child{
	color: #69CCF0;
}

#grande tr:nth-child(6)>td:nth-child(n+2)>p:first-child{
	color: #00FF96;
}

#grande tr:nth-child(7)>td:nth-child(n+2)>p:first-child{
	color: #F58CBA;
}

#grande tr:nth-child(8)>td:nth-child(n+2)>p:first-child{
	color: #FFFFFF;
}

#grande tbody>tr>td:nth-child(6){

}

#grande tbody>tr>td>img{
	vertical-align: middle;
}

th{
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	text-align: center;
	letter-spacing: 3px;
	font-weight: 100;
	
}

#pequeña{
	display: none;
}
#aparece{
	display: none;
}

#desaparecido{
	display: none;
}

#nav{
	display: ;
}




/* tablet */

@media (min-width:576px) and (max-width:1199px){
	
}

/* móvil */

@media (max-width:575px){
	#menu{
		justify-content: space-evenly;
	}
	#social2{
		display: flex;
		justify-content: center;
		background-color: ;
	}

	#enlaces {
		font-size: 0.8rem;
		padding-left: rem;
		margin: 0px;
	}
	#menu>img{
		width: 20%;
		margin-left: 1rem;
	}
	#enlaces .animacion{
		font-size: 2.2rem;
		margin-left: 2rem;
	}
	#social{
		display: none;
	}
	#Formulario{
		padding-left: 0px;
		padding-right: 4rem;
	}

	.texto_imagen img{
		width: 50%;
	}

	#contacto img{
		width: 100%;
		order: 2;
	
	}
	#contacto form{
		margin: auto;
		width: 100%;
	}
	.info{
		display: flex;
		flex-wrap: wrap;
	}
	#labels{
		display: block;
		width: 100%;
	}
	.info input{
		width: 100%;
		margin-top: 0.5rem;
	}

	#contacto img{
		width: 100%;
		padding: 0px;
		margin: 0px;
	}
	#contacto{
		padding: 0px;
		margin: 0px;
	}

	textarea{
		column-span: 10;
	}

	#grande{
		display: none;
	}
	#pequeña{
		display: table;
	}

	.skill{
		font-size: 1.4rem;

	}

	#pequeña th{
		font-family: LifeCraft_Font;
	}

	#pequeña .skill{
		color: darkred;
		font-family: LifeCraft_Font;
	}
	
	
	#pequeña img{
		width: 100%;
	}
	.texto_imagen{
		display: flex;
		flex-wrap: wrap;
	}

	.contenido{
		width: 100%;
	}
	.desaparece{
		display: none;
	}
	.aparece{
		display: block;
	}
	.fila button{
		width: 85%;
	}
	#desaparecido{
		display: block;
	}

	#pequeña td,th{
		border: 4px double #A48510;
		border-radius: 26px;

	}

	#pequeña	th{
		color: white;
		font-size: 2rem;
	}

	.clase_p{
		font-size: 2rem;
	}

	#pequeña td>p:first-child{
		font-family: 'StandardGrafRegular';
	}

	#pequeña tr:nth-child(2n+2)>td>p:first-child{
		color: #C41F3B;
    
	}
	#pequeña tr:nth-child(2n+14)>td>p:first-child{
		color: #A330C9;
	}

	#pequeña tr:nth-child(2n+26)>td>p:first-child{
		color: #FF7D0A;
	}

	#pequeña tr:nth-child(2n+38)>td>p:first-child{
		color: #ABD473;
	}

	#pequeña tr:nth-child(2n+50)>td>p:first-child{
		color: #69CCF0;
	}

	#pequeña tr:nth-child(2n+62)>td>p:first-child{
		color: #F58CBA;
	}

	#pequeña tr:nth-child(2n+74)>td>p:first-child{
		color: #FFFFFF;
	}

	#pequeña th{
	color: white;
	padding: 0.2rem;
	background: black;
	font-family: 'StandardGrafRegular';
	letter-spacing: 3px;
	font-size: 1.8rem;
	}
}



.animacion{
  position: relative;
}

.animacion::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

footer{
	background-image: url("img/slwallpaper.jpg");
	background-position: 100% 50%;
	border-top: #B79F6C solid 5px;
	height: 17.5vh;
}




@media (hover: hover) and (pointer: fine) {
  .animacion:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }

@media (max-width: 1500px){
	

	#social>a>i{
		font-size: 1.7em;
	}
}

@media (max-width: 1340px){
	
	#enlaces a{
		font-size: 2.6em;
	}

	#social>a>i{
		font-size: 1.5em;
	}
}

@media (max-width: 1250px){
	
	#enlaces a{
		font-size: 2.6em;
	}

	#social>a>i{
		font-size: 1.2em;
		padding-left: 0.4rem;
	}
}

@media (max-width: 1150px) and (min-width: 991px){
	
	#enlaces a{
		font-size: 2.2em;
	}

}

@media (max-width: 990px) and (min-width:576px) {
	
	#enlaces a{
		font-size: 2em;
	}

}