body{
	max-width: 1200px;
	margin: auto;
}

.fila{
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	box-sizing: border-box;

}

.contenido{
	width: 50%;
	box-sizing: border-box;
	padding: 2rem;
}

.texto_imagen img{
	width: 20%;
	float: right;
}


h2{
	text-align: center;
	width: 100%;
	display: block;
}
.fila button{
	width: 46%;
	text-align: center;
}

#contacto{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	margin: 1rem;
}

#contacto img{
	width: 50%;
	display: block;
	
}

#labels{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.info{
	box-sizing: border-box;
	padding-bottom: 1rem;
}
form{
	box-sizing: border-box;
	padding: 1rem;
	width: 50%;
	display: block;
	padding-right: 2rem;
}

form button{
	width: 100%;
	margin-top: 1rem;
}

#tick{
	margin-top: 0.5rem;
}

textarea{
	width: 100%;
}

#grande td{
	width: 16.66%;
}

#grande img{
	width: 100%
}

#pequeña{
	text-align: center;
}

#grande tr>td:first-child{
	font-size: 2rem;
	color: green;
}

#grande tr>td:nth-child(n+2)>p:first-child{
	color: red;
	font-weight: bold;
}

#grande th{
	color: blue;
}

#pequeña{
	display: none;
}

/* tablet */

@media (min-width:576px) and (max-width:1199px){

}

/* móvil */

@media (max-width:575px){
	.texto_imagen img{
		width: 50%;
	}

	#contacto img{
		width: 100%;
		order: 2;
	
	}
	#contacto form{
		margin: auto;
	}
	textarea{
		column-span: 10;
	}

	#grande{
		display: none;
	}
	#pequeña{
		display: table;
	}

	#pequeña tr:nth-child(9n){
		color: blue;
	}
}